﻿<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navcustom.html'"></div>
    <div class="container admin-views-main admin-views-custom-packages" data-ng-controller="CustomController">
        <form id="form" action="" style="margin:0">
            <div id="modal-feeds-edit" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="focusInput=false" aria-hidden="true"><i class="fa fa-times"></i></button>
                            <h4 class="modal-title">{{lbl.edit}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-horizontal clearfix">
                                <div class="pkg-common">
                                    <div class="row" style="margin-bottom: 10px">
                                        <div class="col col-md-4">
                                            <input class="form-control ltr-dir" placeholder="Title" id="txtFeedName" name="txtFeedName" focus-me="focusInput" type="text">
                                        </div>
                                        <div class="col-md-6">
                                            <input class="form-control ltr-dir" placeholder="URL" id="txtFeedUrl" name="txtFeedUrl" type="text">
                                        </div>
                                        <div class="col col-md-2">
                                            <button data-ng-click="addFeed()" class="btn btn-primary btn-tabkey"><i class="fa fa-plus"></i>{{lbl.add}}</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col col-md-12">
                                            <table class="table table-bordered table-striped table-hover table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th class="table-item-w30">{{lbl.title}}</th>
                                                        <th class="table-item-w60">{{lbl.url}}</th>
                                                        <th class="table-item-w10">&nbsp;</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="item in galleryFeeds">
                                                        <td>{{item.OptionName}}</td>
                                                        <td>{{item.OptionValue}}</td>
                                                        <td><button class="btn btn-sm btn-danger" ng-click="removeFeed(item.OptionName)" ng-disabled="galleryFeeds.length < 2 || item.OptionValue === selectedFeed"><i style="margin:0;" class="fa fa-times"></i></button></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="focusInput=false"><i class="fa fa-ban"></i>{{lbl.close}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="modal-theme-edit" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title">{{package.Title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal clearfix">
                            <div class="pkg-common">
                                <div class="row">
                                    <div class="col col-md-4">
                                        <img ng-if="!package.PackageUrl" class="pkg-img" width="100" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                                        <a ng-if="package.PackageUrl" href="{{package.PackageUrl}}" target="_new">
                                            <img class="pkg-img" width="100" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                                        </a>
                                    </div>
                                    <div class="col col-md-8">
                                        <div>
                                            <span>{{lbl.description}}: </span>
                                            <span ng-bind-html="package.Description"></span>
                                        </div>
                                        <hr />
                                        <div>
                                            <span><i class="fa fa-user"></i> {{lbl.author}}: </span>
                                            <span ng-bind-html="package.Authors"></span>
                                        </div>
                                        <div ng-if="package.Tags">
                                            <span><i class="fa fa-tags"></i> {{lbl.tags}}: </span>
                                            <span ng-bind-html="package.Tags"></span>
                                        </div>
                                        <div ng-if="package.LastUpdated">
                                            <span><i class="fa fa-calendar"></i> {{lbl.date}}: </span>
                                            <span ng-bind-html="package.LastUpdated"></span>
                                        </div>
                                        <div ng-if="package.DownloadCount">
                                            <span><i class="fa fa-download"></i> {{lbl.downloads}}: </span>
                                            <span>{{package.DownloadCount}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="packageExtra.Reviews != null && packageExtra.Reviews.length > 0" class="form-horizontal clearfix" style="height: 200px; overflow: auto">
                                <hr />
                                <h4>{{lbl.reviews}}</h4>
                                <ul class="list-group" style="margin-top: 20px">
                                    <li ng-repeat="review in packageExtra.Reviews" class="list-group-item">
                                        <span class="badge">{{review.Rating}}</span>
                                        <b>{{review.Name}}:</b> {{review.Body}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-ng-if="customFields.length > 0" data-ng-click="save()" class="btn btn-success pull-right btn-tabkey"><i class="fa fa-save"></i>{{lbl.save}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.gallery}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
            <div class="pull-right" style="margin-top:17px;">
                <select id="selGalleryFeed" class="form-control input-sm pull-left" style="width: 100px; margin-right:3px;" data-ng-options="o.OptionName for o in galleryFeeds" data-ng-model="selectedFeedObject" ng-change="changeFeed()"></select>
                <button title="Settings" type="button" data-ng-click="loadEditForm()" class="btn btn-default btn-sm"><i class="fa fa-cog"></i> Settings</button>
                <button title="Refresh" type="button" data-ng-click="refreshGalleryList()" class="btn btn-default btn-sm" style=""><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="toolbar-grid clearfix">
            <div ng-if="IsPrimary" class="pull-left">
                <button ng-disabled="itemsChecked() === false" ng-click="processChecked('install')" class="btn btn-success btn-sm"><i class="fa fa-check"></i>{{lbl.install}}</button>
            </div>
            <div class="pull-right btn-flt-r hmin767"><button class="btn btn-default btn-sm"><i class="fa fa-cog fa-lg"></i><span>{{lbl.filter}}</span></button></div>
            <div class="pull-right filterbar flt-r clearfix">
                <div class="active-flt-r"></div>
                <div class="navbar-left search-grid pull-right">
                    <input id="txtSearch" type="text" ng-model="query" ng-change="search()" class="input-sm form-control pull-right" placeholder="{{lbl.search}}" />
                </div>
            </div>
        </div>

        <link href="star-rating.css" rel="stylesheet" />
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th><input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" /></th>
                    <th>&nbsp;</th>
                    <th class="table-item-title table-item-w50">{{lbl.title}} <a data-ng-click="sort_by('Title',$event)"><i class="fa fa-sort"></i></a></th>
                    <th class="hmax768">{{lbl.date}} <a data-ng-click="sort_by('LastUpdated',$event)"><i class="fa fa-sort"></i></a></th>
                    <th class="hmax768">{{lbl.version}}</th>
                    <th class="hmax768">{{lbl.downloads}} <a data-ng-click="sort_by('DownloadCount',$event)"><i class="fa fa-sort"></i></a></th>
                    <th class="hmax768">{{lbl.rating}}</th>
                    <th class="hmax768">{{lbl.author}} <a data-ng-click="sort_by('Authors',$event)"><i class="fa fa-sort"></i></a></th>
                    <th class="hmax768">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <td><input type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" ng-disabled="items.length == 0" /> </td>
                    <td class="table-item-avatar">
                        <img ng-if="item.IconUrl === ''" src="../pics/pkg.png" />
                        <img ng-if="item.IconUrl != ''" ng-src="{{item.IconUrl}}" />
                    </td>
                    <td class="table-item-title">
                        <div class="text-ellipsis pull-left">
                            <a title="{{item.Title}}" href="" ng-click="loadCustomFields(item.Id)">{{item.Title}}</a>
                            <span class="item-description hmax480">{{item.Description}}</span>
                        </div>
                        <a ng-if="item.Website != null" title="{{item.Title}}" class="external-link pull-right" target="_new" href="{{item.Website}}"><i class="fa fa-external-link"></i></a>
                    </td>
                    <td>{{item.LastUpdated.substring(0,10)}}</td>
                    <td>{{item.OnlineVersion}}</td>
                    <td>{{item.DownloadCount}}</td>
                    <td>
                        <span class="star-rating">
                            <input disabled="disabled" type="radio" name="{{item.Id}}" value="1" ng-checked="checkStar(1, item.Rating)"><i></i>
                            <input disabled="disabled" type="radio" name="{{item.Id}}" value="2" ng-checked="checkStar(2, item.Rating)"><i></i>
                            <input disabled="disabled" type="radio" name="{{item.Id}}" value="3" ng-checked="checkStar(3, item.Rating)"><i></i>
                            <input disabled="disabled" type="radio" name="{{item.Id}}" value="4" ng-checked="checkStar(4, item.Rating)"><i></i>
                            <input disabled="disabled" type="radio" name="{{item.Id}}" value="5" ng-checked="checkStar(5, item.Rating)"><i></i>
                        </span>
                    </td>
                    <td class="hmax768"><span class="text-ellipsis text-ellipsis-sm">{{item.Authors}}</span></td>
                    <td>
                        <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'download'" title="Install package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-download"></i></a>
                        <a ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'refresh'" title="Update package" href="" ng-click="installPackage(item.Id)"><i class="fa fa-refresh" style="color:red"></i></a>
                        <span ng-if="pkgLinkType(item.LocalVersion, item.OnlineVersion) === 'installed'"><i class="fa fa-check" style="color:green"></i></span>
                    </td>
                </tr>
                <tr id="tr-spinner"><td colspan="8"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
            </tbody>
        </table>
        <div class="text-right pagination-wrapper">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>
