﻿<div id="wrap">
    <div data-ng-include src="'views/shared/_nav.html'"></div>
    <div data-ng-include src="'views/shared/_navcustom.html'"></div>
    <div class="container admin-views-main admin-views-custom-themes" data-ng-controller="CustomController">
        <div id="modal-theme-edit" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                        <h4 class="modal-title">{{package.Title}}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal clearfix">
                            <div class="pkg-common">
                                <div class="form-group">
                                    <div class="col col-md-4">
                                        <img ng-if="!package.PackageUrl" class="pkg-img" width="160" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                                        <a ng-if="package.PackageUrl" href="{{package.PackageUrl}}" target="_new">
                                            <img class="pkg-img" width="160" ng-src="{{package.IconUrl}}" alt="Package image" title="" />
                                        </a>
                                    </div>
                                    <div class="col col-md-8">
                                        <div>
                                            <span class="control-label">{{lbl.description}}:</span>
                                            <span ng-bind-html="package.Description"></span>
                                        </div>
                                        <hr />
                                        <div>
                                            <span class="control-label"><i class="fa fa-user"></i> {{lbl.author}}: </span>
                                            <span ng-bind-html="package.Authors"></span>
                                        </div>
                                        <div ng-if="package.Tags">
                                            <span class="control-label"><i class="fa fa-tags"></i> {{lbl.tags}}: </span>
                                            <span ng-bind-html="package.Tags"></span>
                                        </div>
                                        <div ng-if="package.LastUpdated">
                                            <span class="control-label"><i class="fa fa-calendar"></i> {{lbl.date}}: </span>
                                            <span ng-bind-html="package.LastUpdated"></span>
                                        </div>
                                        <div ng-if="package.DownloadCount">
                                            <span class="control-label"><i class="fa fa-download"></i> {{lbl.downloads}}: </span>
                                            <span>{{package.DownloadCount}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr data-ng-if="customFields.length > 0" />
                            <h4 data-ng-if="customFields.length > 0">{{lbl.customFields}}</h4>
                            <div data-ng-repeat="item in customFields" class="form-group">
                                <label class="control-label col-md-4" for="txtSlug">{{item.Key}}</label>
                                <div class="col col-md-8">
                                    <input type="text" class="form-control" id="txtSlug" data-ng-model="item.Value" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button data-ng-if="customFields.length > 0" data-ng-click="save()" class="btn btn-success pull-right btn-tabkey"><i class="fa fa-save"></i>{{lbl.save}}</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-ban"></i>{{lbl.cancel}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="review" data-ng-include src="'views/shared/_review.html'"></div>
        <div class="page-header clearfix">
            <h2 class="page-title pull-left">
                {{lbl.themes}} <span id="spinner" class="loaded"><i class="fa fa-spinner fa-spin fa-sm"></i></span>
            </h2>
        </div>
        <div class="toolbar-grid clearfix">
            <div ng-if="IsPrimary" class="pull-left">
                <button ng-disabled="itemsChecked() === false" ng-click="processChecked('uninstall')" class="btn btn-danger btn-sm"><i class="fa fa-times"></i>{{lbl.doDelete}}</button>
            </div>
            <div class="pull-right btn-flt-r hmin767"><button class="btn btn-default btn-sm"><i class="fa fa-cog fa-lg"></i><span>{{lbl.filter}}</span></button></div>
            <div class="pull-right filterbar flt-r clearfix">
                <div class="active-flt-r"></div>
                <div class="navbar-left search-grid pull-right">
                    <input type="text" ng-model="query" ng-change="search()" class="input-sm form-control pull-right" placeholder="{{lbl.search}}" />
                </div>
            </div>
        </div>

        <link href="star-rating.css" rel="stylesheet" />
        <table class="table table-bordered table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th><input type="checkbox" id="chkAll" data-ng-click="checkAll($event)" /></th>
                    <th>&nbsp;</th>
                    <th class="table-item-title table-item-w70">{{lbl.title}} <a data-ng-click="sort_by('Title',$event)"><i class="fa fa-sort"></i></a></th>
                    <th>{{lbl.version}}</th>
                    <th class="hmax768">{{lbl.author}}</th>
                    <th class="hmax768">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                    <td>
                        <input type="checkbox" id="{{item.Id}}" data-ng-model="item.IsChecked" ng-disabled="item.Id === activeTheme.Theme || item.Id === activeTheme.Mobile || item.OnlineVersion === ''" />
                    </td>
                    <td class="table-item-avatar"><img ng-src="{{item.IconUrl}}" /></td>
                    <td class="table-item-title">
                        <div class="text-ellipsis pull-left">
                            <a title="Preview {{item.Title}}" ng-href="../../../default.aspx?theme={{item.Title}}" target="new">
                                <span class="fa-stack">
                                    <i class="fa fa-square-o fa-stack-2x"></i>
                                    <i class="fa fa-eye-slash fa-stack-1x"></i>
                                </span>
                            </a>
                            <a title="{{item.Title}}" href="" ng-click="loadCustomFields(item.Id)">{{item.Title}}</a>
                            <span class="item-description hmax480">{{item.Description}}</span>
                        </div>
                        <span ng-if="item.OnlineVersion != ''" class="star-rating pull-right">
                            <input type="radio" name="{{item.Id}}" value="1" ng-checked="checkStar(1, item.Rating)" ng-click="showRatingForm(item, 1)"><i></i>
                            <input type="radio" name="{{item.Id}}" value="2" ng-checked="checkStar(2, item.Rating)" ng-click="showRatingForm(item, 2)"><i></i>
                            <input type="radio" name="{{item.Id}}" value="3" ng-checked="checkStar(3, item.Rating)" ng-click="showRatingForm(item, 3)"><i></i>
                            <input type="radio" name="{{item.Id}}" value="4" ng-checked="checkStar(4, item.Rating)" ng-click="showRatingForm(item, 4)"><i></i>
                            <input type="radio" name="{{item.Id}}" value="5" ng-checked="checkStar(5, item.Rating)" ng-click="showRatingForm(item, 5)"><i></i>
                        </span>
                    </td>
                    <td>{{item.LocalVersion}}</td>
                    <td class="hmax768" title="{{item.Authors}}"><span class="text-ellipsis text-ellipsis-sm">{{item.Authors}}</span></td>
                    <td>
                        <a ng-if="item.OnlineVersion != '' && item.Id != activeTheme.Theme && item.Id != activeTheme.Mobile" title="Uninstall package" href="" style="color:#ff0000" ng-click="uninstallPackage(item.Id)">
                            <i class="fa fa-times"></i>
                        </a>
                        <span ng-if="item.Id === activeTheme.Theme"><i class="fa fa-desktop fa-2x" title="Current Desktop Theme" style="color:#00a017"></i></span>
                        <span ng-if="item.Id === activeTheme.Mobile"><i class="fa fa-mobile fa-2x" title="Current Mobile Theme" style="color:#0094ff"></i></span>
                    </td>
                </tr>
                <tr id="tr-spinner"><td colspan="6"><div id="div-spinner"><i class="fa fa-spinner fa-spin"></i></div></td></tr>
            </tbody>
        </table>
        <div class="text-right pagination-wrapper">
            <ul class="pagination pagination-sm">
                <li data-ng-class="{disabled: currentPage == 0}">
                    <a data-ng-click="prevPage()">« {{lbl.prev}}</a>
                </li>
                <li data-ng-repeat="n in range(pagedItems.length)" data-ng-class="{active: n == currentPage}" data-ng-click="setPage()">
                    <a data-ng-bind="n + 1">1</a>
                </li>
                <li data-ng-class="{disabled: currentPage == pagedItems.length - 1}">
                    <a data-ng-click="nextPage()">{{lbl.next}} »</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" data-ng-include src="'views/shared/_footer.html'"></div>

